<!-- BEGIN footer -->
<footer>

    <!-- BEGIN .copyright-container -->
     <div class="copyright-container">
       <p>
         Designed in <a href="https://www.sketchapp.com/">Sketch</a> • Coded in <a href="https://www.sublimetext.com/3">Sublime Text</a> • Set in <a href="https://www.google.com/fonts#UsePlace:use">Playfair</a> • hosted on <a href="https://www.digitalocean.com/">Digital Ocean</a> • Powered by <a href="https://craftcms.com/">Craft</a><br><span>Copyright {{ "now"|date("Y") }} Jaymee Robertson</span> 
       </p>

     </div>
     <!-- END .copyright-container --> 

</footer>
<!-- END footer -->

<script type="text/javascript" src="{{ siteUrl }}assets/js/site.inc.js"></script>
<script type="text/javascript" src="{{ siteUrl }}assets/js/vendor/fireSlider.velocity.js"></script>

</div>
<!-- END .container -->

</body><!-- // End Body // -->

</html>