<!-- BEGIN .container -->
<div class="container">

  <!-- BEGIN .left-border -->
  <div class="left-border"></div>
  <!-- END .left-border -->
  <!-- BEGIN .right-border -->
  <div class="right-border"></div>
  <!-- END .right-border -->
  <!-- BEGIN .top-border -->
  <div class="top-border"></div>
  <!-- END .top-border -->
  <!-- BEGIN .bottom-border -->
  <div class="bottom-border"></div>
  <!-- END .bottom-border -->

  <!-- BEGIN header -->
  <header>

    <!-- BEGIN .logo-container -->
    <div class="logo-container">
      <a href="{{ siteUrl }}/#intro">J.</a>
    </div>
    <!-- END .logo-container -->
    
    <div class="nav-container">
      <ul>
       <li><a href="#info">info</a></li>
       <li><a href="#work">work</a></li>
     {#   <li><a href="{{ siteUrl }}blog.html">blog</a></li> #}
     </ul>  
   </div>  


 </header>
  <!-- END header -->